@media only screen and (max-width: 1024px) {
    header:not(.main) {
        /* Set variables */
        --mh: unset !important;
        --wh: unset !important;
        --hh: unset !important;

        /* Set styles */
        font-size: calc(var(--phi) * 1em);        
        height: auto !important;
        padding: 0.5em 0;
    }
    header:not(.main) > div {
        display: block !important;
    }
    header:not(.main) div.flex-left {
        justify-content: center !important;
    }
    header:not(.main) nav {
        justify-content: center !important;
        margin: 0.5em 0;
    }

    #logo {
        margin: 0 0.5em 0 0;
    }
}
